.authContainer {
  position: relative;
  overflow-y: auto;
  border-radius: 5px;
  max-width: 1024px;
  min-width: 500px;
  width: 900px;
  display: flex;
}

@media (min-width: 480px) {
  .modalLeft {
    width: 30%;
    min-height: 450px;
    padding: 20px;
    color: #fff;
    background: bottom left no-repeat #013d62;
    background-image: url("https://cdn.zoutons.com/images/common/login_bg.png");
  }

  .modalLeft ul {
    padding: 0 25px;
    list-style: none;
  }

  .modalLeft ul li {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 18px;
    list-style-type: disc;
  }

  .modalLeft h3 {
    color: #f6bb43;
    font-size: 28px;
  }
}

.modalRight {
  margin-top: 25px;
  padding: 20px;
  width: 550px;
  position: relative;
  color: #a9a9b6;
}

.signupTab {
  display: flex;
  justify-content: space-around;
  color: #f6bb43;
  align-items: center;
  width: 40%;
  margin: 10px auto;
}

.headings {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  cursor: pointer;
}

.seperator {
  font-size: 20px;
}

.signupContainer {
  max-width: 350px;
  margin: 0 auto;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  letter-spacing: 0.5px;
  margin: 16px 0;
}

.signupButton {
  cursor: pointer;
  padding: 13px 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1rem;
  border-radius: 2px;
  border: none;
  background: #55aced;
  color: #fff;
  width: calc(100% + 30px);
}
